@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}

<span class="m-5"></span>
<div class="container">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="justify-content-lg-center">
            <h2 class="ml-3 text-center">Welcome to the World of Cinema!</h2>
            <img src="~/JoelHilton.jpg" />
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>

