
@{
    ViewBag.Title = "Movie Form";
}

@model JoelHiltonsMovieCollectionEdit.Models.Movies

<div class="align-center">
    <form asp-action="MovieForm" method="post" style="padding: 20px;">
        <div class="form-group">
            <label asp-for="Category">Category: </label>
            <input class="form-control" style="width: 300px;" asp-for="Category" />
        </div>
        <div class="form-group">
            <label asp-for="Title">Title: </label>
            <input class="form-control" style="width: 300px;" asp-for="Title" />
        </div>
        <div class="form-group">
            <label asp-for="Year">Year: </label>
            <input class="form-control" style="width: 300px;" asp-for="Year" />
        </div>
        <div class="form-group">
            <label asp-for="Director">Director: </label>
            <input class="form-control" style="width: 300px;" asp-for="Director" />
        </div>
        <div class="form-group">
            <label asp-for="Rating">Rating: </label>
            <select class="form-control" style="width: 300px;" asp-for="Rating">
                <option value="">Select one</option>
                <option value="G">G</option>
                <option value="PG">PG</option>
                <option value="PG-13">PG-13</option>
                <option value="R">R</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Edited">Edited?: </label>
            <select class="form-control" style="width: 300px;" asp-for="Edited">
                <option value="">Select one</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="LentTo">Lent To: </label>
            <input class="form-control" style="width: 300px;" asp-for="LentTo" />
        </div>
        <div class="form-group">
            <label asp-for="Notes">Notes: </label>
            <input class="form-control" style="width: 300px;" asp-for="Notes" />
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>